/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use '@/assets/tailwind.css';
@use '@/assets/layout/layout.scss';

.app-dark .layout-menu ul a.active-route {
  background: #222;
}

.layout-menu ul a.active-route {
  background: #eaeaea;
}

.p-menu-item-content {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.ss-searchbox {
  width: 100% !important;
}

.sp-select {
  padding-top: 10px;
  padding-bottom: 7px;
}

.sp-select span {
  margin-top: -4px;
}

.sp-select-options {
  margin-top: 40px !important;
  background-color: #eee;
}

.sp-select-options li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sp-select-options li:hover {
  background-color: #d5d5d5;
}

@media (max-width: 768px) {
  .layout-topbar .layout-topbar-menu .layout-topbar-action {
    padding: 0.8rem 1rem;
  }
}
