/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use '@/assets/tailwind.css';
@use '@/assets/layout/layout.scss';
@use '@/assets/demo/demo.scss';

.p-menu-item-content {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.ss-searchbox {
  width: 100% !important;
}

.sp-select span {
  margin-top: -4px;
}

.sp-select-options {
  margin-top: 43px !important;
  background-color: #eee;
}
